:root {
    /* colour variables */ 
    --limey: rgb(119, 237, 72);
    --darklime: rgb(40, 196, 92);
    --yell: rgb(245, 203, 14);
    --mango: #FF8635;
    --razzmatazz: #E42870;
    --unblue: rgb(25, 119, 242);
    --whiteout: white;

    /* spacing variables: golden ratio */
    --space-xs: 0.382rem;
    --space-s: 0.618rem;
    --space-m: 1rem;
    --space-l: 1.618rem;
    --space-xl: 2.618rem;
    --space-xxl: 4.236rem;
    /* Fonts  */
    font-family: 'Galindo', cursive;
    /* font-family: 'Roboto Mono', monospace; */
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--unblue);
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-flow: column nowrap;
}

section, header, footer, .new-game {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: var(--space-xl);
    display: flex;
    justify-content: center;
}

h3 {
    color: black;
    font-size: var(--space-l);
}

p {
    font-family: 'Galindo', cursive;
    text-transform: uppercase;
    margin: var(--space-l);
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.instruction {
    font-size: var(--space-l);
}

.gif-container {

}

/* Hints button container */
.hints {
    display: flex;
    flex-direction: column;
}



/* Buttons */

button {
    border-radius: var(--space-m);
    color: black;
    font-size: var(--space-l);
    padding: var(--space-xs);
    margin: var(--space-m);
    border: var(--space-s) var(--razzmatazz);
    box-shadow: 2px 2px var(--whiteout);
    min-width: 17rem;
    max-width: 17rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background: linear-gradient(130deg, var(--limey), var(--darklime));
    transition: 0.2s ease-in-out;
    transform: scale(1.02);
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    margin: var(--space-m);
}

.new-game {
    background-color: var(--darklime);
}

.hint-artist {
    background-color: var(--yell);
}

.hint-lyrics {
    background-color: var(--mango);
}

.reveal-song {
    background-color: var(--razzmatazz);
}

.reveal-song:hover {

}


/* Media Queries Tablet & Desktop */
@media (min-width: 768px) {

    h1 {
        font-size: var(--space-xxl);
    }

    .instruction {
        font-size: var(--space-xl);
        display: flex;
    }

    .hints {
        display: flex;
        flex-flow: row wrap;
    }

    /* Reveal button container */
.reveal {
        display: flex;
        flex-flow: row wrap;
}
}
